@import "tailwindcss";
@import "./styles/theme.css";

@theme {
  --color-bg-main: var(--bg-main);
  --color-bg-card: var(--bg-card);
  --color-text-primary: var(--text-primary);
  --color-text-muted: var(--text-muted);
  --color-accent: var(--accent);
}