@import "tailwindcss";
@import "./styles/theme.css";

@theme {
  --color-bg-main: var(--bg-main);
  --color-bg-card: var(--bg-card);
  --color-text-primary: var(--text-primary);
  --color-text-muted: var(--text-muted);
  --color-accent: var(--accent);
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-slow {
  background-size: 200% 200%;
  animation: gradient-move 8s ease infinite;
}